h1,
h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
}

#champion {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

/* Grille pour les 6 cases d'items */
.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.filter-btn.active {
    background-color: #4caf50;
    color: white;
}
.item-box {
    border: 2px dashed #ccc;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

.item-box img {
    max-width: 100%;
    max-height: 100%;
}

/* Styles pour le fond opaque du modal */
.modal {
    display: none; /* Initialement masqué */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Couvre toute la largeur de l'écran */
    height: 100vh; /* Couvre toute la hauteur de l'écran */
    max-height: 100vh; /* Limite la hauteur à 100% de l'écran */
    background-color: rgba(0, 0, 0, 0.7); /* Filtre opaque pour assombrir */
    z-index: 1000; /* S'assure que le modal est au-dessus des autres éléments */
    }

    .modal-content {
    position: relative; /* Position relative pour le contenu */
    margin: auto; /* Centré horizontalement */
    top: 5%; /* Légèrement décalé du haut */
    margin-bottom: 5%; /* Ajout d'espacement en bas */
    width: 50%; /* Largeur de 50% de l'écran */
    max-height: 90%; /* Limite la hauteur à 90% de l'écran */
    box-sizing: border-box; /* Inclut les marges et les bordures dans le calcul de la hauteur totale */
    background: #333; /* Couleur de fond du contenu */
    padding: 25px;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto; /* Permet le défilement si le contenu dépasse */
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.item-name {
    color : #bdbdbd; 
}
.item-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.item-list div {
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

.item-list img {
    width: 50px;
    height: 50px;
}

.search-bar {
    width: 30% ;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #2a2a2a;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

h3 {
    font-size: 16px;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #bdbdbd;
}

/* Styles pour la barre de défilement */
::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
    height: 10px; /* Hauteur de la barre de défilement horizontale */
}

::-webkit-scrollbar-track {
    background: #2a2a2a; /* Couleur de l'arrière-plan de la piste */
    border-radius: 10px; /* Arrondi des coins de la piste */
}

::-webkit-scrollbar-thumb {
    background: #353535; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Arrondi des coins de la barre */
    border: 2px solid #2a2a2a; /* Bordure pour un effet de contraste */
}

::-webkit-scrollbar-thumb:hover {
    background: #444444; /* Couleur de la barre au survol */
}